<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <link rel="stylesheet" href="/styles.css">

</head>
<body>
<script src='/js/ray.js'></script>
</body>
</html>


<!-- /*<style>
  body{
    /*background-color: turquoise;*/
    background-image: url("http://fanaru.com/doge/image/18360-doge-doge-simple.jpg");
    background-size: 1100px 720px;
    font-family: Verdana;
  }
</style>*/ -->

